.nav-link {
  color: black !important;
  font-size: 1rem;
  /* margin: 0 12px; */
}

.logo-brand > span,
.logo-brand > span > span,
.logo-brand > span > span > img {
  width: 100% !important;
  height: 56px !important;
}

.header_btn {
  background: #0098da;
  color: #ffffff;
  font-size: 16px;
}

.benner-input .nav-link {
  color: #aeaeae !important;
  font-size: 16px;
}

.active-link-div .small-line {
  width: 10px;
  background-color: black;
  height: 3px;
  border-radius: 2px;
  margin: auto;
  visibility: hidden;
}

.active-link-div p:hover ~ .small-line {
  visibility: visible !important;
}

.active ~ .small-line {
  visibility: visible !important;
}

.active-link-div p {
  cursor: pointer;
  color: #444444;
  opacity: 50%;
  font-weight: 600;
  margin: 0;
}

.active-link-div p:hover {
  color: #444444;
  opacity: 100%;
}

.active {
  opacity: 100% !important;
}

.header_drop .nav-link {
  color: #444444 !important;
}

.active-link-div .nav-link {
  cursor: pointer;
  color: #444444 !important;
  opacity: 50%;
  font-weight: 600;
}

#basic-nav-dropdown:hover ~ .small-line {
  visibility: visible !important;
  color: #444444;
  opacity: 100%;
}

.img-logo {
  width: 209px;
  height: 60px;
}

.check-property {
  border: 2px solid #ced4da;
  padding: 12px 70px !important;
  width: 350px;
  margin-left: 2px;
  border-radius: 4px;
}
.radio-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

@media screen and (max-width: 575px) {
  .img-logo {
    width: 165px;
    height: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .check-property {
    border: 2px solid #ced4da;
    margin-left: 2px;
    border-radius: 4px;
    padding: 5px 50px !important;
    width: 220px;
  }
  .radio-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 20px;
  }
}
